body {
  font-family: "Open Sams Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* for removing the border property of the browser which are default valur for the all box component in the term of padding */

* {
  box-sizing: border-box;
}
